* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Dark Mode */
.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode .education-container {
    background-color: #333;
    color: #fff;
}

.dark-mode #education-read {
    color: #b300ff;
    background-color: #fff;
}

.dark-mode #education-read:hover {
    background-color: #ccc;
}

.dark-mode #education-ico {
    filter: invert(0);
}

/* Educations*/

#educations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.education-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

#education-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#education-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

#education-read {
    color: #fff;
    background-color: #b300ff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#education-read:hover {
    background-color: #8300bb;
}

#education-update {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#education-update-info {
    display: flex;
    flex-direction: column;
}

#education-update-info p {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Educations Section Styling */
.educations-title {
    text-align: center;
    margin-bottom: 20px;
}

#educations-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.education-container {
    width: 500px;
}

/* Education Header Styling */
#education-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Education Icon Styling */
#education-ico {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: invert(1);
}

/* Education Name Styling */
#education-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

/* Education Download Button Styling */
#education-read {
    color: #fff;
    background-color: #b300ff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

#education-read:hover {
    background-color: #8300bb;
}

/* Education Update Styling */
#education-update {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Education Update Info Styling */
#education-update-info {
    display: flex;
    flex-direction: column;
}

#education-update-info p {
    font-size: 14px;
    margin-bottom: 5px;
}
