* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--border-color);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.about, .projects {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #999;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.project-card {
    border: 1px solid #a372da;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    position: relative;
}

.banner-container {
    position: relative;
}

.project-card img.banner {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.project-card img.logo {
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 25%;
    height: auto;
    z-index: 2;
    border-radius: 10px;
}

.project-card div.logo_bg {
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 28%;
    height: 45%;
    background-color: var(--border-color);
    border-radius: 10px 10px 0 0;
    z-index: 1;
}

.project-info {
    padding: 10px;
}
